<body>poster-pirates
	<div title><h1>Sign In</h1></div>
	<div container>
		<div left></div>
		
		</div right>
			<div formBox>
				<form>
					<p>Username</p>
					<input type="text" name="" placeholder="Online" /> 
					<p>Password></p>
					<input type="">
					<button>
				</form>
			</div>
		</div>
	</div>
</body>
-----------
auth-container
auth-title=>title
form-container=>container
left
right
formBox is form
form-fieldset=>error container?
form-label=>p
body{
	margin:0;
	padding:0;
}
.title{
	text-align:center;
	padding:50px 0 20px;
}
.title h1{
	margin:0;
	padding:;
	font-size:;
}
.container{
	width:50%;
	height:400px;
	background:#fff;
	margin:0 auto;
	border:2px solid #fff;
	box-shadow:0 15px 40px rgba(0,0,0,0.5)
}
.container .left{
	float:left;
	width:50%;
	height:400px;
	background:url(background.jpg);
	background-size:cover
}
.container .right{
	float:right;
	width:50%;
	height:400px;
	
}
.formBox{
	width:100%;
	padding:80px 40px;
	height:400px;
	background:#FFF;
}
.formBox p{label
	margin:0;
	padding:0;
	font-weight:bold;
	color:#a6af13;
}
.formBox input{
	margin-bottom:20px;
}
.formBox input[type="text"],
.fomrBox input[type="password"]{
	border:none;
	border-bottom:2px solid #a6af13;
		outline:none;
		height:40px;
}
.fomrBox input[type=""]:focus,
.formBox input[type=""]:focus{
	border-bottom:2px solid #262626;
}
.formBox input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	color:#fff;
	background:#262626;
	cursor:pointer;
}
.formBox input[]:hover{
	background:#26af13l
}
=============
	renderField=({input,label,type,meta:{touched,error}})=>(
		<fieldset className={`form-group ${touched && error ? 'has-error':''}`}>
			<label className="form-label">{label}</label>
			<div>
				<input {...input} placeholder={label} type={type} />
				{touched && error && <div className="error">{error}</div>}
			</div>
		</fieldset>
	)
	
	render(){
		return(
			<div className="auth-container">
				<h2 className="auth-title">Log In</h2>
				{this.renderError()}
				<div container="form-container">
					<div className="left"></div>
					<div className="right">
						<form className="formBox" onSubmit={this.props.handleSubmit(this.handleFormSubmit)}>
							<Field name="email" type="email" component={this.renderField} label="Email" />
							<Field name="password" type="password" component={this.renderField} label="Password" />
							<button type="submit" className="btn btn-primary">Log In</button>
						</form>
					</div>
				</div>
			</div>
		)
	}